.Auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: large;
    flex-direction: column;
}

.Wrong {
    margin-top: 20px;
}

.WrongNone {
    display: none;
}